<h1>Actor # <%= @actor.id %> </h1>

    <h2>DOB </h2>
    <p>  <%= @actor.dob %> </p>

    <h2>Name</h2>
    <p>  <%= @actor.name %> </p>

    <h2>Bio</h2>
    <p>  <%= @actor.bio %> </p>

    <h2>Image</h2>
    <img src="<%= @actor.image_url %>" width="720">
