<h1>Movie # <%= @movie.id %> </h1>

    <h2>Title </h2>
    <p>  <%= @movie.title %> </p>

    <h2>Year</h2>
    <p>  <%= @movie.year %> </p>

    <h2>Duration</h2>
    <p>  <%= @movie.duration %> </p>

    <h2>Description</h2>
    <p>  <%= @movie.description %> </p>

    <h2>Image</h2>
    <img src="<%= @movie.image_url %>" width="720">
