<h1>Director # <%= @director.id %> </h1>

    <h2>DOB </h2>
    <p>  <%= @director.dob %> </p>

    <h2>Name</h2>
    <p>  <%= @director.name %> </p>

    <h2>Bio</h2>
    <p>  <%= @director.bio %> </p>

    <h2>Image</h2>
    <img src="<%= @director.image_url %>" width="720">
